img.loader(src="img/load.gif", ng-class="{show: !laidOut}")
.rightPad
.photos
	span(
		ah-photo,
		ng-repeat="photo in photos",
		img="{{photo.urlForHeight(maxHeight)}}",
		height="{{heightMap[$index]}}",
		eol="{{eolIndexes.indexOf($index)}}",
		ready="{{laidOut}}",
		photo-id="{{photo.data.id}}"
	)

.overlay(ng-class="{active: selectedPhoto}")
	.imgContainer(style="width: {{overlay.width}}px; height: {{overlay.height}}px; margin-top: {{overlay.marginTop}}px;")
		img.big(src="{{overlay.url}}", style="position: absolute;")
		img.small(src="{{selectedPhoto.urlForHeight(maxHeight)}}")

		div.imgOptions(ah-image-options, ng-class="{show: overlay.showOptions}")
