.gallery
	img.loader(src="img/load.gif", ng-class="{show: !laidOut}")
	.photos
		.rightPad
		span(ah-photo,
			ng-repeat="photo in photos",
			img="{{photo.urlForHeight(heightMap[$index], 1)}}",
			img-height="{{heightMap[$index]}}",
			eol="{{eolIndexes.indexOf($index)}}",
			ready="{{laidOut}}",
			photo="photo"
		)

	.overlay(ng-class="{active: selectedPhoto}")
		.imgContainer(style="width: {{overlay.width}}px; height: {{overlay.height}}px; margin-top: {{overlay.marginTop}}px;")
			img.big(src="{{overlay.url}}", style="position: absolute; opacity: {{overlay.url ? 1 : 0}};")
			img.small(src="{{overlay.smallUrl}}")

			.imgOptions(ah-image-options,
				show-button="overlay.showOptionsButton",
				active="overlay.optionsActive"
				photo="selectedPhoto"
			)
