!!! 5

//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		title #{config.title}

		meta(name='description', content='#{config.desc}')
		meta(name='viewport', content='width=device-width')

		each url in styles
			link(rel='stylesheet', href='#{url}')

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sacramento')
		link(rel='shortcut icon', href='#{faviconUrl}')

	body
		img.loader(src='img/load.gif')

		.overlay
			.imgContainer
				img.small
				img.big

				div.imgOptions
					form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_blank")
						input(type="hidden", name="business", value="#{config.paypal.user}")
						input(type="hidden", name="cmd", value="_xclick")

						input(type="hidden", name="item_name", value="")
						input(type="hidden", name="amount", value="")
						input(type="hidden", name="currency_code", value="USD")
						input(type="submit", name="submit", target='_blank', style='display:none;')

						input(type="hidden", name="on0", value="Photo ID")
						input(type="hidden", name="os0", value="")

						each price, size in config.sizeOptions
							span.sizeOption(data-price='#{price}') #{size}

						img.cartImg(src="img/cart.png")
						span.price $20

		.content
			header
				.logo S
				nav
					//- a(href='#') About
					//- a(href='#') Contact
				.sets
					.arrow

			.rightPad
			.photos

		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

		script.
			window.config = !{JSON.stringify(config)};

		each url in scripts
			script(src='#{url}')
