!!! 5
html
	head
		meta(charset="utf-8")

		title #{config.title}

		meta(name="description", content="#{config.desc}")
		meta(name="viewport", content="width=device-width")

		each url in styles
			link(rel="stylesheet", href="#{url}")

		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Sacramento")
		link(rel="shortcut icon", href="#{faviconUrl}")

	body(ng-app="flickrPortfolioSite", ng-controller="AppController")
		.header
			.logo S
			.nav
				a(href="#") About
			.sets(ah-sets, sets="sets", selected-set="selectedSet")

		div(ng-view)

		script(type="text/ng-template", id="directives/ah-sets")
			include /directives/ah-sets/ah-sets
		script(type="text/ng-template", id="directives/ah-photo")
			include /directives/ah-photo/ah-photo
		script(type="text/ng-template", id="directives/ah-paypal")
			include /directives/ah-paypal/ah-paypal
		script(type="text/ng-template", id="directives/ah-image-options")
			include /directives/ah-image-options/ah-image-options

		script(type="text/ng-template", id="views/gallery")
			include /routes/gallery/gallery

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js")

		script.
			window.config = !{JSON.stringify(config)};

		each url in scripts
			script(src="#{url}")
