.imgOptionsBtn(ng-class="{showButton: showButton, closeBtn: active}", ng-click="active = !active") +
.optionsOverlay(ng-class="{showOverlay: active}")
	.paypal(ah-paypal,
			user="user",
			name="{{photo.data.title ? photo.data.title : 'Photo'}} - Print",
			price="100",
			text="Buy",
			options="[{key: 'Size', val: '60x80'}, {key: 'Photo ID', val: photo.data.id}]"
		)
