.imgOptionsBtn(ng-class="{showButton: showButton, closeBtn: active}", ng-click="active = !active") +

.optionsOverlay(ng-class="{showOverlay: active}")

	.buyModule
		.sizesDrop
			.triangle
			.sizeVal
				span.size
					{{selectedSize.size}}
				span.price
					${{selectedSize.price}}
			.sizeOptions
				.sizeOption(ng-repeat="size in sizes", ng-click="selectSize(size)")
					span.size
						{{size.size}}
					span.price
						${{size.price}}

		.paypal(ah-paypal,
				user="user",
				name="{{photo.data.title ? photo.data.title : 'Photo'}} - Print",
				price="{{selectedSize.price}}",
				text="Buy",
				options="[{key: 'Size', val: selectedSize.size}, {key: 'Photo ID', val: photo.data.id}]"
			)
